<div class="out">
        <div class="container" data-aos="flip-up"data-aos-offset="200" data-aos-delay="50" data-aos-duration="1500">
            <h2 class="string">Please fill in the form for your inquiry</h2>
            <form [formGroup]="inquiryForm" (ngSubmit)="onSubmit()">
                <div class="full-width">
                    <div class="contatiner" fxLayout="column" fxFlex ="100">
                        <mat-form-field  class="labelstring pome-full-width" appearance="fill">
                            <mat-label>Your contact address</mat-label>
                            <input matInput placeholder="aaa@bbb.com" type="text" formControlName="email">
                        </mat-form-field>
                        <mat-form-field  class="pome-full-width" appearance="fill">
                            <mat-label>Category</mat-label>
                            <mat-select type="text" formControlName="category">
                                <mat-option *ngFor="let category of categories" [value]=category.value>
                                    {{category.viewValue}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field  class="pome-full-width" appearance="fill">
                            <mat-label>Please leave your message.</mat-label>
                            <textarea matInput placeholder="Ex. We need tXhis software implemented...." type="text" formControlName="message"></textarea>
                        </mat-form-field>
                    </div>
                </div>
                <p></p>
                <p>Complete the form to enable button.</p>
                <button type="submit" [disabled]="!inquiryForm.valid">Send</button>
            </form>
        </div>
        <p></p>
        <div class="content" fxLayoutAlign="end end">
            <div data-aos="fade-righ"
            data-aos-easing="linear"
            data-aos-duration="1500"
            align="left">
            {{sent}}
            </div>
        </div>
</div>
