# To launch: "sudo docker-compose up -d"
# To stop : "sudo docker-compose down"
version: '3.9'

services:
    postgres:
        image: postgres:latest
        container_name: postgres
        ports:
            - '5432:5432'
        env_file:
            - .env
        volumes:
            - 'postgres:/var/lib/postgresql/data'
            - ./db/schema.sql:/docker-entrypoint-initdb.d/1-schema.sql
            - ./db/data.sql:/docker-entrypoint-initdb.d/2-data.sql
        networks:
            - backend
        hostname: postgres
        restart: always

    pgadmin4:
        image: dpage/pgadmin4
        container_name: pgadmin4
        ports:
            - 3001:80
        volumes:
            - pgadmin:/var/lib/pgadmin4/storage
        env_file:
            - .env
        depends_on:
            - postgres
        restart: always
        networks:
            - backend
            - frontend

    api:
        build: ./api
        container_name: api
        restart: always
        ports:
            - 3000:3000
        depends_on:
            - postgres
        networks:
            - frontend
            - backend

    ui:
        build: ./ui
        container_name: ui
        ports:
            - 80:4200
        env_file:
            - .env
        depends_on:
            - api
        networks:
            - frontend

volumes:
    postgres:
        driver: local
    pgadmin:

networks:
    frontend:
        driver: bridge
        ipam:
            driver: default
            config:
                - subnet: 192.168.10.0/24
    backend:
        driver: bridge
        ipam:
            driver: default
            config:
                - subnet: 192.168.20.0/24
