.out {
    display: table;
    width: 100vw;
    height: 100vh;
    background-color: #53537e;
  }

.string {
    font-size: 30px;
    color: #d4ceda;
}

.labelstring {
  font-size: 20px;
  color: #d4ceda;
}

.pome-full-width {
  width: 100%;
  color: #d4ceda;
}