# To launch: "sudo docker-compose up -d"
# To stop : "sudo docker-compose down"
version: '3.9'
services:

    mongo:
        image: mongo
        container_name: mongo
        restart: always
        environment:
            MONGO_INITDB_ROOT_USERNAME: root
            MONGO_INITDB_ROOT_PASSWORD: mongo
            MONGO_INITDB_DATABASE: db
        ports:
            - 27017:27017
        networks:
            - backend

    mongo-express:
        image: mongo-express
        container_name: mongoexpress
        restart: always
        ports:
            - 8081:8081
        environment:
            ME_CONFIG_MONGODB_ADMINUSERNAME: root
            ME_CONFIG_MONGODB_ADMINPASSWORD: mongo
            ME_CONFIG_MONGODB_URL: mongodb://root:mongo@mongo:27017
        networks:
            - frontend
            - backend

    api:
        build: ./api
        container_name: api
        restart: always
        ports:
            - 5000:5000
        depends_on:
            - mongo
        networks:
            - frontend
            - backend

    front:
        build: ./front
        container_name: front
        ports:
            - 80:80
        environment:
            MONGO: mongo
        depends_on:
            - mongo
        networks:
            - frontend

networks:
    frontend:
        driver: bridge
        ipam:
            driver: default
            config:
                - subnet: 192.168.10.0/24
    backend:
        driver: bridge
        ipam:
            driver: default
            config:
                - subnet: 192.168.20.0/24