<div class="out">
    <div class="content" data-aos="flip-up"data-aos-offset="200" data-aos-delay="50" data-aos-duration="1500">
        <h2 class="string">Microsoft Azure Development experiences</h2>
        <div class="content" fxLayout="row wrap" fxLayoutGap="1.5% grid">
            <div *ngFor="let experience of experiences">
                <app-experience-card name={{experience.name}} description={{experience.description}} url={{experience.url}}></app-experience-card>
            </div>
        </div>
        <p></p>
        <div class="content" fxLayoutAlign="end end">
            <div data-aos="fade-righ"
            data-aos-easing="linear"
            data-aos-duration="1500"
            align="left">
                Microsoft Azure is one of the top cloud platform in the world<p> </p>
                Using Azure services, we build scalable application and service. <p> </p>
                AI capability is also added on demand<p></p>
            </div>
        </div>
    </div>
</div>