<div class="container-fluid">
  <div class="col-md-8 col-xs-12 col-md-offset-2 push-md-2">
    <carousel [itemsPerSlide]=1 [showIndicators]=false [pauseOnFocus]=true>
      <slide>
        <app-title></app-title>
      </slide>
      <slide>
        <app-profile-experiences-aiml></app-profile-experiences-aiml>
      </slide>
      <slide>
        <app-profile-experiences-azure></app-profile-experiences-azure>
      </slide>
      <slide>
        <app-profile-experiences-iot></app-profile-experiences-iot>
      </slide>
      <slide>
        <app-profile-experiences-blockchain></app-profile-experiences-blockchain>
      </slide>
      <slide>
        <app-profile-skills></app-profile-skills>
      </slide>
      <slide>
        <app-contact></app-contact>
      </slide>
    </carousel>
  </div>
</div>
