.example-card {
    width: 250px;
    height: 100px;
  }
  
  .example-header-image {
    background-image: url('https://avatars.githubusercontent.com/u/15336877?v=4');
    background-size: cover;
  }